{% extends 'layout.html' %}

{% block title %}Diwa Blog | About Diwa{% endblock %}

{% block content %}
  <section>
    <img src="static/img/franco-2.jpg" alt="Foto of Francis" class="profile-photo">
    <h3>About</h3>
    <p>Hi, I'm Francis Chokuwamba! This is my portifolio with my family. When I'n not programming, I enjoy going in the park feeling the nature, drinking and more.</p>
    <p>If you would like to follow me on Twitter, my twitter handle is <a href="http://twitter/francochoks">@francochoks</a></p>
  </section>
{% endblock %}